.react-datepicker__month-container {
  float: left;
}

.react-datepicker__input-container {
  padding: "2px";
  border-radius: "50%";
}

input {
  border: 1px solid #aeaeae;
  border-radius: 0.7rem;
  line-height: 16px;
  padding: 6px 10px 5px;
  height: 2.5rem;
}
